* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Inter', sans-serif;
  /* overflow: hidden; */
}

:root {
  --primary-dark: #111314;
  --primary: #212529;
  --secondary: #343A40;
  --tertiary: #495057;
  
  --highlight: #cacaca;
  --highlighter: #f8f9fa;
  
  --dark-text: #ADB5BD;
  --barely-visible: #2C3136;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #05080F;
}

#root {
  height: 100%;
  overflow: hidden;
}